.Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  width: 100%;
  z-index: 99;
}

.Wrapper > progress {
  position: absolute;
  bottom: -1px;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border: none;
  background: transparent;
}

progress::-moz-progress-bar {
  background: white;
}
progress::-webkit-progress-value {
  background: white;
}
progress {
  color: white;
}

.Navbar {
  margin: 0.75% 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Navbar > * {
  min-width: 33.3%;
}

.Navbar > div > img {
  max-width: 40%;
}

.NavbarRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
}

.NavbarRight > * {
  margin-left: 5%;
}
