@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;500;900&display=swap");

:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background-color: rgba(19, 19, 19, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

.container {
  margin-left: 5%;
  margin-right: 5%;
}
